.property__wrapper {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  .mat-grid-list {
    margin-bottom: 40px;
  }
  .metadata-content {
    position: absolute;
    top: 0;
    left: 20px;
    @media only screen and (max-width: 767px) {
      left: 0;
    }
    ul {
      list-style-type: none;
      word-break: break-word;
      padding-left: 0;
      margin-top: 0;
      @media only screen and (max-width: 767px) {
        margin-top: 20px;
      }
      li {
        font-size: 13px;
        line-height: 2;
        border-bottom: 1px solid #ddd;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

ngx-gallery /deep/ {
  position: absolute;
  top: 0;
  .ngx-gallery-layout.thumbnails-bottom {
    z-index: 1 !important;
  }
}