.home__feedList-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 80px auto;
  button {
    width: 100%;
  }
  .sort__wrapper {
    @media only screen and (max-width: 767px) {
      padding: 0 20px;
      mat-form-field {
        width: 100%;
      }
    }
  }
}