<app-header></app-header>
<div class="home__feedList-wrapper" *ngIf="propertyItems !== undefined" @fadeIn>
    <section>
        <app-sort></app-sort>
    </section>
    <section *ngIf="propertyItems.length >= 1; else noItemsFound">
        <div *ngFor="let property of propertyItems">
            <app-property-item [propertyItem]="property"></app-property-item>
            <br>
        </div>
    </section>
    <ng-template #noItemsFound>
        <h3>No one Property found</h3>
    </ng-template>
</div>
