<div class="sort__wrapper">
  <mat-card>
    <!--<mat-toolbar >-->
      <!--<mat-toolbar>-->
        <!--<mat-form-field>-->
          <!--<input matInput type="number" placeholder="Limit" value="10">-->
        <!--</mat-form-field>-->
      <!--</mat-toolbar>-->
      <!--<mat-toolbar>-->
        <!--<mat-form-field>-->
          <!--<input matInput type="number" placeholder="Price from" value="">-->
        <!--</mat-form-field>-->
      <!--</mat-toolbar>-->
      <!--<mat-toolbar>-->
        <!--<mat-form-field>-->
          <!--<input matInput type="number" placeholder="Price to" value="">-->
        <!--</mat-form-field>-->
      <!--</mat-toolbar>-->
    <!--</mat-toolbar>-->
    <mat-toolbar-row>
      <!--<mat-toolbar>-->
        <!--<mat-radio-group >-->
          <!--<mat-radio-button color="primary" value="1">House</mat-radio-button>-->
          <!--<mat-radio-button color="primary" value="2">HousePart</mat-radio-button>-->
        <!--</mat-radio-group>-->
      <!--</mat-toolbar>-->
      <!--<mat-toolbar>-->
        <!--<mat-form-field>-->
          <!--<input matInput type="text" placeholder="Query" value="">-->
        <!--</mat-form-field>-->
      <!--</mat-toolbar>-->

      <mat-toolbar>
        <button mat-raised-button color="primary">Search</button>
      </mat-toolbar>
      </mat-toolbar-row>
  </mat-card>
</div>
<br>
