.sort__wrapper {
  @media only screen and (max-width: 767px) {
    padding: 0 10px;
  }
  .mat-form-field {
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  mat-card {
    padding: 10px;
    mat-toolbar {
      padding: 0;
      background-color: transparent;
      font-size: 13px;
    }
  }
  button {
    width: 100%;
  }
}